<div class="account-wrap mr-4">
    <div class="account-item clearfix js-item-menu">
        <div class="image">
            <img src="/layout/images/prayas_logo_icon.png" alt="PRAYAS Logo" />
        </div>
        <div class="content">
            <a class="js-acc-btn" href="#">PRAYAS Team</a>
        </div>
        <div class="account-dropdown js-dropdown">
            <div class="info clearfix">
                <div class="image">
                    <a href="#">
                        <img src="/layout/images/prayas_logo_icon.png" alt="PRAYAS Logo" />
                    </a>
                </div>
                <div class="content">
                    <h5 class="name">
                        <a href="#">PRAYAS Team</a>
                    </h5>
                    <span class="email">prayas@gyws.org</span>
                </div>
            </div>
            <div class="account-dropdown__body">
                <div class="account-dropdown__item">
                    <a href="#">
                        <i class="zmdi zmdi-account"></i>Account</a>
                </div>
                <div class="account-dropdown__item">
                    <a href="#">
                        <i class="zmdi zmdi-settings"></i>Setting</a>
                </div>
                <!-- <div class="account-dropdown__item">
                    <a href="#">
                        <i class="zmdi zmdi-money-box"></i>Billing</a>
                </div> -->
            </div>
            <div class="account-dropdown__footer">
                <a href="/admin/logout">
                    <i class="zmdi zmdi-power"></i>Logout</a>
            </div>
        </div>
    </div>
</div>