<div id="request-status" class="alert alert-success d-none justify-content-between pl-4 pr-4 align-items-center"
    role="alert">
    <span></span>
    <i class="fa fa-times" onclick="toggleFormStatusDisplay('hide', '#request-status')"></i>
</div>