<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../layout/head.ejs') %>
        <!-- Update the href of the following custom script -->
        <link rel="stylesheet" href="/main/kmc/kmc-styles.css">
</head>

<body>
    <%- include('../../layout/navbar.ejs') %>

        <!-- Your main body goes here -->
        <!-- Get In Touch Form -->
        <div class="main-container mt-3">
            <!-- <img class="w-100 d-none d-md-block" src="/main/kmc/kmc.jpg" /> -->
            <section class="heading-section">
                <div class="container">
                    <div class="row">
                        <h1 class="col-12 text-center">Are you looking for career guidance?</h1>
                        <p class="col-12 p-3 text-center description mb-3">
                            We are a team of IITians who have gone through the same process of JOSAA, and we are well
                            aware of the confusion while filling the preferences, due to availability of multiple
                            options and lack of complete information. And therefore, we have a team of Education and
                            Exam counselors
                            who provide guidance and help students to find out the college and branch options based on
                            their performance in JEE. We make constant efforts to guide students to choose the right
                            opportunity.
                        </p>
                    </div>
                </div>
            </section>
            <section class="payment-section container pt-2">
                <div class="row">
                    <!-- <div class="service-container col-10 col-md-5">
                        <h1>
                            Counselling + Mock Tests
                        </h1>
                        <p>
                            This package comes with both counselling and mock tests.
                            This would help the student in his/her allround development.
                        </p>
                        <form>
                            <script src="https://checkout.razorpay.com/v1/payment-button.js"
                                data-payment_button_id="pl_I0Ox8eKhAgY3Va" async> </script>
                        </form>
                    </div> -->
                    <img class="col-12 col-md-7" src="/main/kmc/register-poster.jpg" />
                    <div class="col-12 col-md-5 d-flex flex-column justify-content-center p-5">
                        <div class="service-container">
                            <h1>
                                JOSAA Counselling
                            </h1>
                            <p>
                                This package comes with JOSAA counselling services.
                                We at KMC feel that this is an important stage in students' career and put all our
                                efforts
                                to get student into the best possible institution.
                            </p>
                            <form>
                                <script src="https://checkout.razorpay.com/v1/payment-button.js"
                                    data-payment_button_id="pl_I0CvA18PigARuK" async> </script>
                            </form>
                        </div>
                        <p class="referral-msg text-center">
                            Having a referral code? <a href="/kmc/referral/">Click Here</a>
                        </p>
                    </div>
                </div>

            </section>
            <section class="info-section container pt-0">
                <h3 class="text-center">
                    KMC
                </h3>
                <div class="row">
                    <p class="p-3 description">
                        KMC(Komcluez Marketing Consultancy Pvt Ltd) is a business initiative under the PRAYAS run by
                        the students of IIT Kharagpur constantly supporting and helping rural as well as
                        institutional enterprises and making them a social enterprise.
                    </p>
                </div>

                <!-- <h3 class="text-center">
                    Getting Started
                </h3>
                <div class="row">
                    <div class="description col-12">
                        <h5>Payment</h5>
                        <p class="p-3">
                            <strong>
                                Case - 1)
                            </strong>
                            If you have a referral code then go to <a href="/kmc/referral">this</a> page and pay the
                            joining fee. <br />
                            <strong>
                                Case - 2)
                            </strong>
                            If you don't have a referral code, then directly pay using the below payment
                            links.
                        </p>
                    </div>
                    <div class="description col-12">
                        <h5>Step2 (Signing Up)</h5>
                        <p class="p-3">
                            If you've also opted for tests and paid the fee, you will be redirected to the <a
                                href="https://online.gradeazy.com/join/mock_test/614ee1b7d28ced0b6ba35199">signup
                                page</a> where you need to create an account using the
                            same name and email you used during payment.
                        </p>
                    </div>
                    <div class="description col-12">
                        <h5>Step-3 (Account Activation)</h5>
                        <p class="p-3">
                            After you singup, our team will review your payment and activate your account.
                        </p>
                    </div>
                    <div class="description col-12 text-center">
                        <h5>
                            Hoorah!! Our team will reach out to you for counselling.
                        </h5>
                        <p class="p-3">
                            After you singup, our team will review your payment and activate your account.
                        </p>
                    </div>
                </div> -->
            </section>
        </div>

        <%- include('../../layout/footer.ejs') %>
            <%- include('../../layout/scripts.ejs') %>
</body>

</html>