/* Welcome section */
.welcome-content{
    padding-left: 5vw;
}

.welcome-section{
    padding-top: 110px;
    padding-bottom: 40px;
    align-items: center;
    background-color: #f1f1f1;
    height: 380px;
}

.welcome-section .welcome-content{
    margin-left: auto;
    margin-right: auto;
}

.welcome-section .welcome-image-container img{
    max-width: 100%;
    opacity: 0.8;
}

.welcome-content h1{
    font-size: 38px;
    text-align: left;
}

.welcome-content p{
    margin-bottom: 10px;
}

.welcome-content button{
    padding: 6px;
    font-size: 12px;
}

.intro p {
    font-size: 18px;
}
.intro span {
    font-weight: bold;
}

.intro {
    padding-bottom: 0;
}

.objective-icon i {
    font-size: 42px;
    color: #28DF99;
}

@media (min-width: 767px) {
    .welcome-section {
        padding-top: 40px;
        height: 500px;
    }
}