<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head.ejs') %>
        <!-- Update the href of the following custom script -->
        <link rel="stylesheet" href="/main/about/about-styles.css">
</head>

<body>
    <%- include('../layout/navbar.ejs') %>

        <!-- Your main body goes here -->
        <!-- About Us -->
        <div class="main-container">
            <section class="heading-section">
                <div class="container">
                    <div class="row">
                        <h2 class="col-12 text-center">About Us</h2>
                        <p class="col-12 p-4">
                            PRAYAS is the extension initiative of Gopali Youth Welfare Society. It was started to
                            generate programs for youth to give back to the community using local resources. Our main
                            objective is to improve the economic conditions of an area through generating employment and
                            setting up businesses that give back their profits to the community.
                        </p>
                    </div>
                    <!-- Our Motivation -->
                    <div class="row">
                        <h2 class="col-12 text-center mt-2">Our Motivation</h2>
                        <p class="col-12 p-4">
                            Back in 2014, our founder Mr. Mrinal Kanti Bhanja realized that the people who achieved
                            their dreams are not giving back to the society. He identified two reasons behind this
                            feeble social participation of people: <br />
                            <strong>Firstly, </strong>people are under the chains of their financial insecurities. They
                            think that doing social work will not allow them to make their living and hence they lack
                            motivation and passion to bring a change. <br />
                            <strong>Secondly, </strong>even if some are motivated they lack a platform and
                            proper guidance and a team of like-minded people to execute their ideas to solve social
                            problems. Through this initiative, we want to motivate people to join us and find out ways
                            to develop an area using the locally available resources.
                        </p>
                    </div>
                </div>
            </section>

            <section class="vision-mission-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 vision-mission-card">
                            <h1>
                                Vision
                            </h1>
                            <p>
                                We aim to provide individuals with a platform to ensure the fulfillment of Sustainable
                                Development Goals for the weaker sections of the Society through sustainable
                                initiatives.
                            </p>
                        </div>
                        <div class="col-md-5 vision-mission-card">
                            <h1>
                                Mission
                            </h1>
                            <p>
                                PRAYAS exists to motivate the individuals and provide them with resources to solve the
                                social problems of their surroundings by channelizing the local resources.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="members-words-section">
                <div class="container">
                    <h1 class="members-words-heading">Founder's Message</h1>
                    <div class="row member-card">
                        <div class="col-md-4 member-info">
                            <img class="member-img" src="/main/about/images/dada.jpg" />
                            <h1 class="member-name">
                                Mr. Mrinal Kanti Bhanja
                            </h1>
                            <h2 class="member-designation">
                                Founder, PRAYAS and President, GYWS
                            </h2>
                            <div class="member-social-icons">
                                <a href="mailto:mrinalkbhanja@gyws.org"><i class="fa fa-envelope"></i></a>
                                <a href="https://www.facebook.com/mrinalkbhanja"><i class="fab fa-facebook"></i></a>
                                <a href="https://www.linkedin.com/in/mrinal-bhanja-78761038/"><i
                                        class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="col-md-8 member-words">
                            <p>
                                There is a natural law, a Divine law that obliges you and me to believe the sufferings
                                of the distressed and the destitute. A service for the poor is a supreme virtue, and the
                                great channel through which the mercy of God is passed on to mankind. <br />

                                As stewards of GOPALI YOUTH WELFARE SOCIETY, the board and staff of Society are
                                committed to adhering as closely as possible to his intentions, as reflected in our
                                guiding
                                principle.
                                GYWS is a rural-based registered organization by and for the people. Despite the many
                                ups and downs, it has pulled on with real favor to serve the disadvantaged, the
                                underprivileged, the poor and the needy. Our journey would not have been smooth if it
                                was not for the
                                support by the wholehearted participation and cooperation from the community as well as
                                from the
                                other partners (agencies) have helped a lot to sustain the activities. So, we take this
                                occasion to extend our heartfelt gratitude to one and all, who, in whatever capacity,
                                might have contributed to one's might to sustain our noble endeavour. We earnestly hope
                                the
                                coming year will be fruitful and meaningful.
                            </p>

                        </div>
                    </div>
                    <h1 class="members-words-heading">CEO's Words</h1>
                    <div class="row member-card">
                        <div class="col-md-4 member-info">
                            <img class="member-img" src="/main/about/images/Nandana.jpg" />
                            <h1 class="member-name">
                                Ms.Devaki Nandana Kalam
                            </h1>
                            <h2 class="member-designation">
                                CEO, PRAYAS
                            </h2>
                            <div class="member-social-icons">
                                <a href="mailto:nandana.kalam@gyws.org"><i class="fa fa-envelope"></i></a>
                                <a href="https://www.facebook.com/devakinandanakalam"><i
                                        class="fab fa-facebook"></i></a>
                                <a href="https://www.linkedin.com/in/devakinandanakalam"><i
                                        class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="col-md-8 member-words">
                            <p>
                                Once I heard someone saying "Stop being patient and start asking yourself, how do I
                                accomplish my 10 year plan in 6 months? There are chances to fail, but you'll be lot
                                further than the person who simply accepted it was going to take 10 years!". <br/>

                                We started PRAYAS as the Business Development Initiative of Gopali Youth Welfare
                                Society, focusing mainly on Rural entrepreneurs who aren't educated and aware of the
                                benefits and government schemes meant for them, guiding young and budding entrepreneurs,
                                and helping social entrepreneurs in increasing their reach. With a team of motivated
                                individuals with the thirst for success, we can always explore new avenues and land up
                                at a better place. Be it a business related problem, social issue or an environment
                                related problem, our team has a solution to tackle every problem. We, at PRAYAS are
                                determined to bring a change and make this world a better place.
                            </p>

                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- Mission Vision -->


        <!-- box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35); -->

        <%- include('../layout/footer.ejs') %>
            <%- include('../layout/scripts.ejs') %>
                <!-- Update the src of the following custom script -->
                <script src=""></script>
</body>

</html>