<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head.ejs') %>
        <!-- Update the href of the following custom script -->
        <link rel="stylesheet" href="/main/blog/blog.css">
</head>

<body>
    <%- include('../layout/navbar.ejs') %>

        <!-- Your main body goes here -->
        <div class="main-container">
            <section class="blog-section container">
                <h1 class="blog-heading">
                    Women in Rural Entrepreneurship.
                </h1>
                <p class="blog-description">
                    This blog not only focuses on Women in Entrepreneurship but focuses on Women in "Rural
                    Entrepreneurship". Are women encouraged to setup their own startups? What are the difficulties they
                    face?
                </p>
                <div class="blog-body">
                    <h1>Introduction</h1>
                    <p>
                        India is a country where 65% of the population live in rural areas. While the major occupation
                        being in the agriculture sector,
                        Agriculture labourers, Farmers, Farmers with other sources of income account for most of the
                        rural livelihood.
                    </p>
                    <p>
                        As the primary sector of the Indian economy, Agriculture provides employment to almost 50% of
                        the total population. The sector’s contribution to the country’s GDP is just 12-13%, From this
                        data, one can easily tell that Disguised unemployment prevails in this sector.
                    </p>
                    <p>
                        Entrepreneurship plays an important role in generating employment opportunities in rural areas
                        by setting up industrial and business units, using agricultural sources.
                    </p>
                    <p>
                        This curtails Rural unemployment and migration to cities, the standard of living of rural people
                        will be increased.
                    </p>

                    <h1>
                        Rural Entrepreneurship
                    </h1>
                    <p>
                        It is entrepreneurship emerging at village level which can take place in a variety of fields
                        such as industry, business, agriculture, diversification into non-agricultural sectors such as
                        catering for tourists, blacksmithing, carpentry, spinning, and act as a potent factor for
                        overall economic development.
                    </p>

                    <h1>
                        Women In Rural Entrepreneurship
                    </h1>
                    <p>
                        As research demonstrates, women entrepreneurs may do things differently, in comparison with men,
                        women work as a team, self-centred and personal ego to them is less important than the success
                        of an organisation.
                    </p>
                    <p>
                        Women are also interested to start their own business in both the rural and urban areas to
                        overcome poverty, generate family income and develop a Standard of living. They are also
                        participating in agriculture, business and trade without any social and other boundaries. But in
                        India, there are many social and cultural limitations for rural women.
                    </p>

                    <h1>
                        Challenges Faced By Women Entrepreneurs
                    </h1>
                    <div class="paragraph-list">
                        <ul>
                            <li>
                                Lack of education
                            </li>
                            <li>
                                The balance between family and career
                            </li>
                            <li>
                                Male-dominated society
                            </li>
                            <li>
                                Low ability to bear risks
                            </li>
                            <li>
                                Shortage of finance
                            </li>
                            <li>
                                Lack of entrepreneurial Skills
                            </li>
                            <li>
                                Lack of Technological Awareness
                            </li>
                            <li>
                                Lack marketing skills
                            </li>
                            <li>
                                Socio-Cultural Barriers
                            </li>
                        </ul>
                    </div>


                    <h2>
                        To overcome the challenges, Government’s schemes have helped women entrepreneurs
                    </h2>
                    <p>
                        <strong>Development of Women and Children in Rural Areas</strong><br />
                        It promotes self-employment among the rural women who are below the poverty line, generates
                        income for the rural poor by the production of goods and services and establishes production
                        improving programs in rural society.
                    </p>
                    <p>
                        <strong>Five Years Plans of the Indian Government</strong><br />
                        The Government of India started the Women Entrepreneurship Development (WED), a training program
                        for women. Special emphasis has to be laid on the development of Personal Entrepreneurial
                        Characteristics (PECs) through training as a part of WED.
                    </p>

                    <h1>
                        Conclusion
                    </h1>
                    <p>
                        It is very important that in the fast-growing economy, women should not hesitate to start their
                        own business and contribute to the wealth of the family, in this male-dominated society. Women
                        need backing from Government, family members, friends and social groups. The Government should
                        make more plans so that the Indian women entrepreneurs can work more on empowerment by training,
                        development and capacity building programs. The Government should offer well education services
                        to rural women. Not only government but also NGO’s, Self Help groups must also aid Rural women
                        in Entrepreneurship.
                    </p>
                </div>
            </section>
        </div>

        <%- include('../layout/footer.ejs') %>
            <%- include('../layout/scripts.ejs') %>
                <!-- Update the src of the following custom script -->
                <script src=""></script>
</body>

</html>