<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layout/head.ejs') %>
    <!-- Update the href of the following custom script -->
    <link rel="stylesheet" href="/main/home/index-styles.css">
    
    <!--====== Default CSS ======-->
    <link rel="stylesheet" href="main/home/consult/css/default.css">
    
    <!--====== Style CSS ======-->
    <link rel="stylesheet" href="main/home/consult/css/style.css">
</head>
<body>
    <%- include('../layout/navbar.ejs') %>
    
    <!-- Your main body goes here -->
    <!-- Slide -->
    <!-- Intro -->
    <!-- Objectives Consulting-->
    <section id="objective" class="objective-area pt-105">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8">
                    <div class="section-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                        <h6 class="sub-title">Why Us</h6>
                        <h4 class="title">The reasons to choose us <span>as your business partner</span></h4>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="objective-wrapper mt-60 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                <div class="row no-gutters justify-content-center">
                    <div class="col-lg-4 col-md-7">
                        <div class="single-objective d-flex">
                            <div class="objective-icon">
                                <img src="main/home/consult/images/service-1.png" alt="Icon">
                            </div>
                            <div class="objective-content media-body">
                                <h4 class="objective-title">Highly Experienced</h4>
                                <p class="text">Lorem Ipsum is simply dummy tex of the printing and typesetting industry. Lorem Ipsum .</p>
                            </div>
                            <div class="shape shape-1">
                                <img src="main/home/consult/images/shape/shape-1.svg" alt="shape">
                            </div>
                            <div class="shape shape-2">
                                <img src="main/home/consult/images/shape/shape-2.svg" alt="shape">
                            </div>
                        </div> <!-- single objective -->
                    </div>
                    <div class="col-lg-4 col-md-7">
                        <div class="single-objective objective-border d-flex">
                            <div class="objective-icon">
                                <img src="main/home/consult/images/service-2.png" alt="Icon">
                            </div>
                            <div class="objective-content media-body">
                                <h4 class="objective-title">Bunch of objectives</h4>
                                <p class="text">Lorem Ipsum is simply dummy tex of the printing and typesetting industry. Lorem Ipsum .</p>
                            </div>
                            <div class="shape shape-3">
                                <img src="main/home/consult/images/shape/shape-3.svg" alt="shape">
                            </div>
                        </div> <!-- single objective -->
                    </div>
                    <div class="col-lg-4 col-md-7">
                        <div class="single-objective d-flex">
                            <div class="objective-icon">
                                <img src="main/home/consult/images/service-3.png" alt="Icon">
                            </div>
                            <div class="objective-content media-body">
                                <h4 class="objective-title">Quality Support</h4>
                                <p class="text">Lorem Ipsum is simply dummy tex of the printing and typesetting industry. Lorem Ipsum .</p>
                            </div>
                            <div class="shape shape-4">
                                <img src="main/home/consult/images/shape/shape-4.svg" alt="shape">
                            </div>
                            <div class="shape shape-5">
                                <img src="main/home/consult/images/shape/shape-5.svg" alt="shape">
                            </div>
                        </div> <!-- single objective -->
                    </div>
                </div> <!-- row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="objective-btn text-center pt-25 pb-15">
                            <a class="main-btn main-btn-2" href="#">All objectives</a>
                        </div> <!-- objective btn -->
                    </div>
                </div> <!-- row -->
            </div> <!-- objective wrapper -->
        </div> <!-- container -->
    </section>
    <!-- Services from basic-->
    <!-- Gallery Consulting -->
    <section id="portfolio" class="project-masonry-area pt-115">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-lg-4">
                    <div class="section-title pb-20  wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                        <h6 class="sub-title">Portfolio</h6>
                        <h4 class="title">Portfolio <span>Gallery.</span></h4>
                    </div> <!-- section title -->
                </div>
                <div class="col-lg-8">
                    <div class="project-menu text-center text-sm-left text-lg-right pb-20">
                        <ul>
                            <li class="active" data-filter="*">See All</li>
                            <li data-filter=".apps">Apps</li>
                            <li data-filter=".branding">Branding</li>
                            <li data-filter=".creative">Creative</li>
                            <li data-filter=".laptop">Laptop</li>
                            <li data-filter=".product">Product</li>
                        </ul>
                    </div> <!-- project menu -->
                </div>
            </div> <!-- row -->
            <div class="row grid">
                <div class="col-lg-4 col-sm-6 grid-item apps creative laptop">
                    <div class="single-gallery gallery-masonry mt-30">
                        <div class="gallery-image">
                            <img src="main/home/consult/images/protfolio-1.jpg" alt="protfolio">
                        </div>
                        <div class="gallery-icon">
                            <a class="image-popup" href="main/home/consult/images/protfolio-1.jpg">
                                <span></span>
                            </a>
                        </div>
                    </div> <!-- single gallery -->
                </div>
                <div class="col-lg-4 col-sm-6 grid-item branding creative">
                    <div class="single-gallery gallery-masonry mt-30">
                        <div class="gallery-image">
                            <img src="main/home/consult/images/protfolio-2.jpg" alt="protfolio">
                        </div>
                        <div class="gallery-icon">
                            <a class="image-popup" href="main/home/consult/images/protfolio-2.jpg">
                                <span></span>
                            </a>
                        </div>
                    </div> <!-- single gallery -->
                </div>
                <div class="col-lg-4 col-sm-6 grid-item apps branding product">
                    <div class="single-gallery gallery-masonry mt-30">
                        <div class="gallery-image">
                            <img src="main/home/consult/images/protfolio-3.jpg" alt="protfolio">
                        </div>
                        <div class="gallery-icon">
                            <a class="image-popup" href="main/home/consult/images/protfolio-3.jpg">
                                <span></span>
                            </a>
                        </div>
                    </div> <!-- single gallery -->
                </div>
                <div class="col-lg-4 col-sm-6 grid-item laptop product">
                    <div class="single-gallery gallery-masonry mt-30">
                        <div class="gallery-image">
                            <img src="main/home/consult/images/protfolio-5.jpg" alt="protfolio">
                        </div>
                        <div class="gallery-icon">
                            <a class="image-popup" href="main/home/consult/images/protfolio-5.jpg">
                                <span></span>
                            </a>
                        </div>
                    </div> <!-- single gallery -->
                </div>
                <div class="col-lg-4 col-sm-6 grid-item branding creative">
                    <div class="single-gallery gallery-masonry mt-30">
                        <div class="gallery-image">
                            <img src="main/home/consult/images/protfolio-4.jpg" alt="protfolio">
                        </div>
                        <div class="gallery-icon">
                            <a class="image-popup" href="main/home/consult/images/protfolio-4.jpg">
                                <span></span>
                            </a>
                        </div>
                    </div> <!-- single gallery -->
                </div>
                <div class="col-lg-4 col-sm-6 grid-item apps laptop product">
                    <div class="single-gallery gallery-masonry mt-30">
                        <div class="gallery-image">
                            <img src="main/home/consult/images/protfolio-6.jpg" alt="protfolio">
                        </div>
                        <div class="gallery-icon">
                            <a class="image-popup" href="main/home/consult/images/protfolio-6.jpg">
                                <span></span>
                            </a>
                        </div>
                    </div> <!-- single gallery -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="gallery-btn mt-60 text-center">
                        <a class="main-btn" href="#">Load More</a>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    <!-- Blog Basic-->

    <%- include('../layout/footer.ejs') %>
    <%- include('../layout/scripts.ejs') %>
    <!-- Update the src of the following custom script -->
    <script src=""></script>
</body>
</html>