<!-- HEADER MOBILE-->
<header class="header-mobile d-block d-lg-none">
    <div class="header-mobile__bar">
        <div class="container-fluid">
            <div class="header-mobile-inner">
                <a class="logo" href="index.html">
                    <img class="mobile-logo" src="/layout/images/prayas_logo_name.png" alt="CoolAdmin" />
                </a>
                <div class="d-flex justify-content-center">
                    <%- include('./account-button.ejs') %>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                </div>

            </div>
        </div>
    </div>
    <%- include('../sidenav/mobile-nav.ejs') %>
</header>
<!-- END HEADER MOBILE-->

<%- include('../sidenav/desktop-nav.ejs') %>

<div id="request-status" class="alert alert-success d-none justify-content-between pl-4 pr-4 align-items-center"
    role="alert">
    <span></span>
    <i class="fa fa-times" onclick="toggleFormStatusDisplay('hide', '#request-status')"></i>
</div>