.main-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-container .form-container {
    border: 1px solid rgb(187, 187, 187);
    border-radius: 10px;
    padding: 4vw 3vw;
}

.main-container .form-container h1 {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3vw;
}

footer > div.container {
    padding-bottom: 0;
}