
.nav-heading {
    font-size: 38px;
}

nav.navbar {
    padding: 10px 5vw;
    background-color: #f1f1f1!important;
}

.navbar-nav {
    margin-left: auto;
}

.add-shadow {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
}