<footer class="with-pattern-1 position-relative">
    <div class="container section-padding-y">
        <div class="row">
            <div class="footer-block col-lg-5 mb-4 mb-lg-0 col-md-6">
                <img class="mb-4" src="/layout/images/prayas_logo_full.png" alt="" width="120">
                <p class="text-muted">
                    To know more, feel free to reach out to us. We are looking forward to hearing from you. It's never
                    too late to start a business and create an impact. We are always with you!
                </p>
            </div>
            <div class="footer-block col-lg-2 mb-4 mb-lg-0 col-md-6">
                <h2 class="h5 mb-4">Services</h2>
                <div class="d-flex">
                    <ul class="list-unstyled mr-4 mb-0">
                        <li class="mb-2"><a class="footer-link" href="#">History </a></li>
                        <li class="mb-2"><a class="footer-link" href="#">About us</a></li>
                        <li class="mb-2"><a class="footer-link" href="#">Contact us</a></li>
                        <li class="mb-2"><a class="footer-link" href="#">Services</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-block col-lg-3 col-md-6">
                <h2 class="h5 mb-4">Contact Info</h2>
                <ul class="list-unstyled mr-4 mb-3">
                    <li class="mb-2 text-muted">
                        Gopali Village <br/>
                        Near Petrol Pump, Salua (PS) <br/>
                        Paschim Medinipur (Dist.) <br/>
                        West Bengal - 721145
                    </li>
                    <!-- <li class="mb-2"><a class="footer-link" href="tel:619-851-4132">619-851-4132</a></li> -->
                    <li class="mb-2"><a class="footer-link" href="mailto:Nova@example.com">prayas.iitkgp@gmail.com</a></li>
                </ul>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a class="social-link" href="https://www.facebook.com/prayasgyws/"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <!-- <li class="list-inline-item"><a class="social-link" href="#"><i class="fab fa-twitter"></i></a></li> -->
                    <li class="list-inline-item"><a class="social-link" href="https://www.linkedin.com/company/prayas-gyws/"><i class="fab fa-linkedin"></i></a>
                    </li>
                    <li class="list-inline-item"><a class="social-link" href="https://www.instagram.com/prayas_gyws/"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyrights">
        <div class="container text-center py-4">
            <p class="mb-0 text-muted text-sm">Copyright &copy; 2021, PRAYAS. All Rights Reserved.</p>
        </div>
    </div>
</footer>