<!--====== PRELOADER PART START ======-->

<div class="preloader">
    <div class="loader">
        <div class="ytp-spinner">
            <div class="ytp-spinner-container">
                <div class="ytp-spinner-rotator">
                    <div class="ytp-spinner-left">
                        <div class="ytp-spinner-circle"></div>
                    </div>
                    <div class="ytp-spinner-right">
                        <div class="ytp-spinner-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(window).on('load', function (event) {
        $('.preloader').delay(500).fadeOut(500);
    });
</script>

<!--====== PRELOADER PART ENDS ======-->

<header class="header">
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container"><a class="navbar-brand" href="#"><img src="img/logo.svg" alt="" width="110">Hi</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link link-scroll active" href="/">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item"><a class="nav-link link-scroll" href="/projects">Projects</a></li>
                    <li class="nav-item"><a class="nav-link link-scroll" href="/members">Members</a></li>
                    <li class="nav-item"><a class="nav-link link-scroll" href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>