<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layout/head.ejs') %>
</head>
<body class="animsition">
    <div class="page-wrapper">

        <%- include('../layout/header/mobile-header.ejs') %> 

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            
            <%- include('../layout/header/desktop-header.ejs') %> 

            <!-- MAIN CONTENT-->
            <div class="main-content">
                show the form for rud ops
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <%- include('../layout/scripts.ejs') %>

</body>
</html>


