
/*===== All Section Title Style =====*/
.section-title .sub-title {
  font-size: 18px;
  font-weight: 400;
  color: #f14836;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    .section-title .sub-title {
      font-size: 16px; } }
.section-title .title {
  font-size: 32px;
  padding-top: 10px; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section-title .title {
      font-size: 30px; } }
  @media (max-width: 767px) {
    .section-title .title {
      font-size: 24px; } }
  .section-title .title span {
    font-weight: 400;
    display: contents; }


/*===========================
       04.GALLERY css 
===========================*/
.single-gallery {
  position: relative; }
  .single-gallery .gallery-image img {
    width: 100%; }
  .single-gallery .gallery-icon a {
    background-color: #f14836;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
    -moz-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    -o-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single-gallery .gallery-icon a {
        width: 80px;
        height: 80px; } }
    .single-gallery .gallery-icon a span {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single-gallery .gallery-icon a span {
          width: 30px;
          height: 30px; } }
      .single-gallery .gallery-icon a span::before, .single-gallery .gallery-icon a span::after {
        position: absolute;
        content: '';
        width: 2px;
        height: 100%;
        background-color: #fff;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%); }
      .single-gallery .gallery-icon a span::after {
        height: 2px;
        width: 100%;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); }
  .single-gallery:hover .gallery-icon a {
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1); }

/*===== Project Masonry =====*/
.project-menu ul li {
  display: inline-block;
  font-size: 16px;
  color: #798795;
  margin-left: 50px;
  cursor: pointer;
  position: relative;
  padding-bottom: 3px;
  margin-top: 10px; }
  @media (max-width: 767px) {
    .project-menu ul li {
      margin: 10px 15px 0; } }
  .project-menu ul li:first-child {
    margin-left: 0; }
    @media (max-width: 767px) {
      .project-menu ul li:first-child {
        margin: 10px 15px 0; } }
  .project-menu ul li::before {
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    background-color: #798795;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
  .project-menu ul li:hover::before, .project-menu ul li.active::before {
    width: 100%; }

.gallery-masonry {
  border-radius: 7px;
  overflow: hidden; }

/*===========================
      05.objective css 
===========================*/
.objective-wrapper {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); }

.single-objective {
  padding: 65px 20px 30px;
  position: relative; }
  .single-objective.objective-border {
    border-left: 1px solid #dedede4f;
    border-right: 1px solid #dedede4f; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single-objective.objective-border {
        border: 0; } }
    @media (max-width: 767px) {
      .single-objective.objective-border {
        border: 0; } }
  .single-objective .objective-content {
    padding-left: 25px; }
    .single-objective .objective-content .objective-title {
      font-size: 18px; }
    .single-objective .objective-content .text {
      margin-top: 15px; }
  .single-objective .shape {
    position: absolute; }
    .single-objective .shape.shape-1 {
      left: 35px;
      bottom: -50px;
      -webkit-animation: rotated 15s infinite linear;
      -moz-animation: rotated 15s infinite linear;
      -o-animation: rotated 15s infinite linear;
      animation: rotated 15s infinite linear; }
    .single-objective .shape.shape-2 {
      top: 20px;
      right: 85px;
      -webkit-animation: animationFramesOne 10s infinite linear;
      -moz-animation: animationFramesOne 10s infinite linear;
      -o-animation: animationFramesOne 10s infinite linear;
      animation: animationFramesOne 10s infinite linear; }
    .single-objective .shape.shape-3 {
      left: 100px;
      bottom: -10px;
      -webkit-animation: rotated 15s infinite linear;
      -moz-animation: rotated 15s infinite linear;
      -o-animation: rotated 15s infinite linear;
      animation: rotated 15s infinite linear; }
    .single-objective .shape.shape-4 {
      left: 30px;
      top: 10px;
      -webkit-animation: rotated 15s infinite linear;
      -moz-animation: rotated 15s infinite linear;
      -o-animation: rotated 15s infinite linear;
      animation: rotated 15s infinite linear; }
    .single-objective .shape.shape-5 {
      right: 100px;
      bottom: -40px;
      -webkit-animation: animationFramesTwo 10s infinite linear;
      -moz-animation: animationFramesTwo 10s infinite linear;
      -o-animation: animationFramesTwo 10s infinite linear;
      animation: animationFramesTwo 10s infinite linear; }

@-webkit-keyframes rotated {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotated {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes animationFramesOne {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    -moz-transform: translate(0px, 0px) rotate(0deg);
    -ms-transform: translate(0px, 0px) rotate(0deg);
    -o-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg); }
  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg);
    -moz-transform: translate(73px, -1px) rotate(36deg);
    -ms-transform: translate(73px, -1px) rotate(36deg);
    -o-transform: translate(73px, -1px) rotate(36deg);
    transform: translate(73px, -1px) rotate(36deg); }
  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg);
    -moz-transform: translate(141px, 72px) rotate(72deg);
    -ms-transform: translate(141px, 72px) rotate(72deg);
    -o-transform: translate(141px, 72px) rotate(72deg);
    transform: translate(141px, 72px) rotate(72deg); }
  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg);
    -moz-transform: translate(83px, 122px) rotate(108deg);
    -ms-transform: translate(83px, 122px) rotate(108deg);
    -o-transform: translate(83px, 122px) rotate(108deg);
    transform: translate(83px, 122px) rotate(108deg); }
  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg);
    -moz-transform: translate(-40px, 72px) rotate(144deg);
    -ms-transform: translate(-40px, 72px) rotate(144deg);
    -o-transform: translate(-40px, 72px) rotate(144deg);
    transform: translate(-40px, 72px) rotate(144deg); }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    -moz-transform: translate(0px, 0px) rotate(0deg);
    -ms-transform: translate(0px, 0px) rotate(0deg);
    -o-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg); } }
@-webkit-keyframes animationFramesOne {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    -moz-transform: translate(0px, 0px) rotate(0deg);
    -ms-transform: translate(0px, 0px) rotate(0deg);
    -o-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg); }
  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg);
    -moz-transform: translate(73px, -1px) rotate(36deg);
    -ms-transform: translate(73px, -1px) rotate(36deg);
    -o-transform: translate(73px, -1px) rotate(36deg);
    transform: translate(73px, -1px) rotate(36deg); }
  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg);
    -moz-transform: translate(141px, 72px) rotate(72deg);
    -ms-transform: translate(141px, 72px) rotate(72deg);
    -o-transform: translate(141px, 72px) rotate(72deg);
    transform: translate(141px, 72px) rotate(72deg); }
  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg);
    -moz-transform: translate(83px, 122px) rotate(108deg);
    -ms-transform: translate(83px, 122px) rotate(108deg);
    -o-transform: translate(83px, 122px) rotate(108deg);
    transform: translate(83px, 122px) rotate(108deg); }
  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg);
    -moz-transform: translate(-40px, 72px) rotate(144deg);
    -ms-transform: translate(-40px, 72px) rotate(144deg);
    -o-transform: translate(-40px, 72px) rotate(144deg);
    transform: translate(-40px, 72px) rotate(144deg); }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    -moz-transform: translate(0px, 0px) rotate(0deg);
    -ms-transform: translate(0px, 0px) rotate(0deg);
    -o-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg); } }
@keyframes animationFramesTwo {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    -moz-transform: translate(0px, 0px) rotate(0deg);
    -ms-transform: translate(0px, 0px) rotate(0deg);
    -o-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg); }
  20% {
    -webkit-transform: translate(-73px, 1px) rotate(36deg);
    -moz-transform: translate(-73px, 1px) rotate(36deg);
    -ms-transform: translate(-73px, 1px) rotate(36deg);
    -o-transform: translate(-73px, 1px) rotate(36deg);
    transform: translate(-73px, 1px) rotate(36deg); }
  40% {
    -webkit-transform: translate(-141px, -72px) rotate(72deg);
    -moz-transform: translate(-141px, -72px) rotate(72deg);
    -ms-transform: translate(-141px, -72px) rotate(72deg);
    -o-transform: translate(-141px, -72px) rotate(72deg);
    transform: translate(-141px, -72px) rotate(72deg); }
  60% {
    -webkit-transform: translate(-83px, -122px) rotate(108deg);
    -moz-transform: translate(-83px, -122px) rotate(108deg);
    -ms-transform: translate(-83px, -122px) rotate(108deg);
    -o-transform: translate(-83px, -122px) rotate(108deg);
    transform: translate(-83px, -122px) rotate(108deg); }
  80% {
    -webkit-transform: translate(40px, -72px) rotate(144deg);
    -moz-transform: translate(40px, -72px) rotate(144deg);
    -ms-transform: translate(40px, -72px) rotate(144deg);
    -o-transform: translate(40px, -72px) rotate(144deg);
    transform: translate(40px, -72px) rotate(144deg); }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    -moz-transform: translate(0px, 0px) rotate(0deg);
    -ms-transform: translate(0px, 0px) rotate(0deg);
    -o-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg); } }
@-webkit-keyframes animationFramesTwo {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    -moz-transform: translate(0px, 0px) rotate(0deg);
    -ms-transform: translate(0px, 0px) rotate(0deg);
    -o-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg); }
  20% {
    -webkit-transform: translate(-73px, 1px) rotate(36deg);
    -moz-transform: translate(-73px, 1px) rotate(36deg);
    -ms-transform: translate(-73px, 1px) rotate(36deg);
    -o-transform: translate(-73px, 1px) rotate(36deg);
    transform: translate(-73px, 1px) rotate(36deg); }
  40% {
    -webkit-transform: translate(-141px, -72px) rotate(72deg);
    -moz-transform: translate(-141px, -72px) rotate(72deg);
    -ms-transform: translate(-141px, -72px) rotate(72deg);
    -o-transform: translate(-141px, -72px) rotate(72deg);
    transform: translate(-141px, -72px) rotate(72deg); }
  60% {
    -webkit-transform: translate(-83px, -122px) rotate(108deg);
    -moz-transform: translate(-83px, -122px) rotate(108deg);
    -ms-transform: translate(-83px, -122px) rotate(108deg);
    -o-transform: translate(-83px, -122px) rotate(108deg);
    transform: translate(-83px, -122px) rotate(108deg); }
  80% {
    -webkit-transform: translate(40px, -72px) rotate(144deg);
    -moz-transform: translate(40px, -72px) rotate(144deg);
    -ms-transform: translate(40px, -72px) rotate(144deg);
    -o-transform: translate(40px, -72px) rotate(144deg);
    transform: translate(40px, -72px) rotate(144deg); }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    -moz-transform: translate(0px, 0px) rotate(0deg);
    -ms-transform: translate(0px, 0px) rotate(0deg);
    -o-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg); } }

/*===== OUR objective =====*/
.our-objectives-tab .nav {
  border-bottom: 2px solid #dedede4f; }
  @media (max-width: 767px) {
    .our-objectives-tab .nav {
      border-bottom: 0; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .our-objectives-tab .nav {
      border-bottom: 2px solid #dedede4f; } }
  @media (max-width: 767px) {
    .our-objectives-tab .nav .nav-item {
      width: 50%; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .our-objectives-tab .nav .nav-item {
      width: auto; } }
  .our-objectives-tab .nav .nav-item a {
    color: #798795;
    padding: 17px 30px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .our-objectives-tab .nav .nav-item a {
        padding: 17px 15px; } }
    @media (max-width: 767px) {
      .our-objectives-tab .nav .nav-item a {
        padding: 17px 15px;
        border-bottom: 2px solid #dedede4f; } }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      .our-objectives-tab .nav .nav-item a {
        padding: 17px 10px;
        border-bottom: 0; } }
    .our-objectives-tab .nav .nav-item a::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 2px;
      background-color: #f14836;
      left: 0;
      bottom: -2px;
      opacity: 0;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s; }
    .our-objectives-tab .nav .nav-item a i {
      font-size: 50px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .our-objectives-tab .nav .nav-item a i {
          font-size: 40px; } }
      @media (max-width: 767px) {
        .our-objectives-tab .nav .nav-item a i {
          font-size: 34px; } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .our-objectives-tab .nav .nav-item a i {
          font-size: 28px; } }
    .our-objectives-tab .nav .nav-item a span {
      font-size: 14px;
      font-family: "Nunito", sans-serif;
      font-weight: 500;
      padding-left: 15px; }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .our-objectives-tab .nav .nav-item a span {
          padding-left: 10px; } }
    .our-objectives-tab .nav .nav-item a.active {
      color: #f14836; }
      .our-objectives-tab .nav .nav-item a.active::before {
        opacity: 1; }
.our-objectives-tab .our-objectives-content .objectives-title {
  font-size: 40px; }
  @media (max-width: 767px) {
    .our-objectives-tab .our-objectives-content .objectives-title {
      font-size: 22px; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .our-objectives-tab .our-objectives-content .objectives-title {
      font-size: 26px; } }
  .our-objectives-tab .our-objectives-content .objectives-title span {
    font-weight: 400;
    display: contents; }
.our-objectives-tab .our-objectives-content .text {
  margin-top: 35px; }
.our-objectives-tab .our-objectives-content .our-objectives-progress .circles-text {
  font-size: 24px !important;
  font-weight: 700;
  color: #222;
  font-family: "Nunito", sans-serif; }
.our-objectives-tab .our-objectives-content .our-objectives-progress .progress-content {
  padding-left: 30px; }
  .our-objectives-tab .our-objectives-content .our-objectives-progress .progress-content .progress-title {
    font-size: 18px; }

/*===== objective 2 =====*/
.single-objective-2 .objective-icon {
  margin-top: 5px; }
  .single-objective-2 .objective-icon i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px dashed #f14836;
    font-size: 36px;
    color: #f14836; }
.single-objective-2 .objective-content {
  padding-left: 30px; }
  .single-objective-2 .objective-content .title a {
    font-weight: 600;
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    color: #222; }
  .single-objective-2 .objective-content .text {
    padding-top: 20px; }

/*===== objective 3 =====*/
.objectives-3 {
  border-top: 1px solid #dedede4f; }

.single-objective-3 .objective-icon {
  display: inline-block;
  position: relative; }
  .single-objective-3 .objective-icon i {
    font-size: 40px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
.single-objective-3 .objective-content {
  padding-top: 45px; }
  .single-objective-3 .objective-content .objective-title a {
    font-size: 24px;
    font-weight: 700;
    color: #222;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
    .single-objective-3 .objective-content .objective-title a:hover {
      color: #f14836; }
  .single-objective-3 .objective-content .text {
    padding-top: 15px; }
  .single-objective-3 .objective-content .more {
    color: #798795;
    font-size: 36px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    margin-top: 30px; }
    .single-objective-3 .objective-content .more:hover {
      color: #f14836; }
